!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{name:"viewport", content: "width=device-width, initial-scale=1"}
    %title Success!
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/css/application.css', rel: 'stylesheet', type: 'text/css'}

  %body{lang:"en"}
    #container
      %h1
        Everything worked as expected :)
