!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{name:"viewport", content: "width=device-width, initial-scale=1"}
    %title Success!
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/css/application.css', rel: 'stylesheet', type: 'text/css'}

  %body{lang:"en"}
    #container
      %h1
        We imported all your Kindle highlights.
      %p
        Now make sure you never run this again since
        %br
        it would create the highlights again. :o)
        %br
        ( We're on it.
        %a{href: "http://github.com/conchulio/kindle-to-readmill", alt: "Kindle to Readmill on Github"} @Github
        )
