body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  text-rendering: optimizeLegibility;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 2.6em;
  font-weight: 400;
}

.authorize {
  background-color: #7BC431;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  margin-top: 20px;
  padding: 20px 30px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  // add transition
  -webkit-appearance: none;
}

#dropzone {
  font-size: 0.75em;
  text-align: center;
  background: #FAFAFA;
  color: gray;
  padding: 10px;
}


// LAYOUT
#container {
  margin: auto;
  margin-top:100px;
  width: 520px;
}
#container:after {
  content: "";
  display: table;
  clear: both;
}

#dropzone {
  border-radius:7px;
  width: 100px;
  height: 100px;
  margin-top:15px;
}

.drag-inactive {
  border: 2px dashed #ccc;
}

.drag-active {
  border: 2px dashed #000;
}

#instructions{
  margin-left: 10px;
  width: 410px;
}

.box {
  float:left;
}

